<div class="card m-4" id="hp-blog">
  <div class="card-header">
    <a class="blog-title" id="{{id}}">{{title}}</a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>{{content}}</p>
      <footer class="blockquote-footer">{{user.username}}
        <cite title="Source Title"> {{formatDate createdAt}}</cite></footer>
    </blockquote>
  </div>
</div>