<div class="list-group comment-group">
  <div class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h6 class="mb-1">{{user.username}}</h6><small>{{formatDate createdAt}}</small>
    </div>
    {{#if (isEqualTo parent.currentUser user.id)}}
    <input type="text"
      class="form-control"
      id="comment" 
      value="{{comment.content}}">
    </input>
    {{else}}
    <p class="mb-1">{{content}}</p>
    {{/if}}

    

    {{#if (isEqualTo parent.currentUser user.id)}}
    <button
      type="submit"
      name="update-comment-btn"
      data-id="{{blog.id}}"
      class="btn btn-secondary"
    >Update</button>
    <button
      type="submit"
      name="delete-comment-btn"
      data-id="{{blog.id}}"
      class="btn btn-danger"
    >Delete</button>
    {{/if}}
  </div>

</div>