{{> privateNavBar}}

<section class="mt-4 border p-3 rounded-2 bg-light">
  <h2 class="text-center">Edit Blog</h2>

  <form class="mt-4" id="blog-edit-form" data-id="{{blog.id}}">
    <div class="mb-3">
      <input
        type="title"
        class="form-control"
        id="title"
        value="{{blog.title}}"
        placeholder="Enter title"
      />
    </div>

    <div class="mb-3">
      <input
        type="content"
        class="form-control"
        id="content"
        value="{{blog.content}}"
        placeholder="Enter content"
      />
    </div>

    <div class="m-2">Created: {{ formatDate blog.createdAt}}</div>
    <div class="m-2">Updated: {{ formatDate blog.updatedAt}}</div>


    <div id="edit-error"></div>

    <div class="mb-3 text-center">
        <button type="submit" id="update-btn" data-id="{{blog.id}}" class="btn btn-secondary">Update</button>
        <button type="submit" id="delete-btn" data-id="{{blog.id}}" class="btn btn-danger">Delete</button>
    </div>

  </form>
</section>



<section class="mt-3">
    <h2 class="text-center">Comments</h2>
    <hr />

   {{#each comments as |comment|}}
      {{> allComments}}
    {{/each}}
  </section>